body {
    background-image: url("1.png");
    background-repeat: repeat;
}


/*********************W3C Validator properties*****************/
#validator {
    float: right;
    bottom: 0;
    right: 0;
    position: fixed;
    opacity: 50%;
}

#validator:hover {
    opacity: 100%;
}


#assingments {
    margin-left: 60px;
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-family: 'Manrope', sans-serif;
    padding: 30px;

}

img {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    box-sizing: content-box;

}

.titles {
    background: black;
    opacity: 90%;

}


div.zoom > div {
    padding-left: 30px;
}


/***********************animate********************************/
.zoom {

    display: inline-block;
    padding: 4px;
    transition: transform .2s;
    margin-bottom: 10px;
    /* Animation */


}

.zoom:hover {
    transform: scale(1.5);
    margin: auto;
    flex-direction: column;
}

div .zoom {
    display: inline-flex;
    flex-direction: column;
}
