.container {
    margin: 20px;
}

/*********************W3C Validator properties*****************/
#validator {
    float: right;
    bottom: 0;
    right: 0;
    position: fixed;
    opacity: 50%;
}

#validator:hover {
    opacity: 100%;
}
