.container {
    margin: 20px;
}

.nav-link,
h5 {
    padding: 20px;
    color: aliceblue;
}



.container {

    padding: 4px;
}


div div.form-group {
    flex: 50%;
}

.rightContainer {}

.leftContainer {}


#bottomButtons {
    float: left;
}



/*********************W3C Validator properties*****************/
#validator {
    float: right;
    bottom: 0;
    right: 0;
    position: fixed;
    opacity: 50%;
}

#validator:hover {
    opacity: 100%;
}
