
.nav-link,
h5 {
    padding: 20px;
    color: aliceblue;
}



/*********************W3C Validator properties*****************/
#validator {
    float: right;
    bottom: 0;
    right: 0;
    position: fixed;
    opacity: 50%;
}

#validator:hover {
    opacity: 100%;
}
